.thead {
  max-width: 10rem;
}
.thead > p {
  margin: 0px;
}
.thead > p:nth-child(2) {
  font-size: 12px;
  font-weight: 500 !important;
}
.default_row > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 14rem;
}
.concurent > p:first-child {
  margin-top: 0px;
}
.concurent > p:last-child {
  margin-top: 0px;
  margin-bottom: 0px;
}
.headerRow > th,
.headerRow > th > p {
  font-weight: 600;
  color: #305ec9 !important ;
  background-color: #d9dcf3;
  font-size: 1rem;
  padding: 20px 6px;
}
.headerRow > td {
  font-weight: 600;
  color: #5e78b5 !important;
  background-color: #d9dcf3;
  padding: 16px 10px;
  font-size: 13px !important;
}

.overflowContainer {
  max-height: 300px !important;
  overflow-y: auto;
}
.activeOnHover:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.actions {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.deleteIcon {
  color: #eb0707e6;
  cursor: pointer;
}

.headerRow > th {
  vertical-align: top !important;
}

.alignSelect {
  margin-top: 16px !important;
}

.default_row {
  position: relative !important;
}

.filtered_diagnostics {
  position: absolute !important;
  overflow: auto !important;
  top: 65px;
  z-index: 2;
  left: 0 !important;
  background-color: #fff !important;
  height: 200px !important;
}
td {
  padding: 16px 10px !important;
}

.defaultHeader {
  width: 13rem !important;
}
.onEditActive {
  width: 13rem !important;
}

.onNotEdit {
  width: 13rem !important;
  cursor: pointer !important;
}
.onEditNotActiveDia {
  width: 13rem !important;
  cursor: pointer !important;
}

.onEditNotActiveProce {
  width: 13rem !important;
  cursor: pointer !important;
}
.pointerEmpty {
  cursor: pointer !important;
}
@media screen and (max-width: 834px) {
  .headerRow > th {
    font-size: 0.9rem;
  }
  .headerRow > td {
    font-size: 0.7rem;
  }
  .onEditActive {
    width: 7rem !important;
  }
  .onEditNotActiveDia {
    width: 6rem !important;
  }

  .onEditNotActiveProce {
    width: 9rem !important;
  }
  .onEditNotActive {
    width: 9rem !important;
  }
  .onNotEdit {
    width: 9rem !important;
  }
}

@media screen and (max-width: 600px) {
  thead {
    display: none !important;
  }
  .tbodyInfoRow {
    display: flex !important;
    flex-direction: column;
  }
  /* .tbodyInfoRow > td:last-child {
    border-bottom:3px solid #D9DCF3 !important;
  }
  .activeOnHover > td:last-child {
    border-bottom:3px solid #D9DCF3 !important;
  } */
  .emptyCells {
    display: none !important;
  }
  .pointerEmpty {
    display: none !important;
  }
  .tableCont {
    min-width: 80vw !important;
  }
  .endRow> td:last-child {
    border-bottom:3px solid #D9DCF3 !important;
  }
}
